* {
    padding: 0;
    margin: 0;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

body {
    font-family: "Cherry Bomb One", system-ui;
    background-image: url('PLAYING\ SCREEN.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    color: rgb(255, 174, 187);
    text-shadow: 2px 2px 5px rgba(114, 32, 46, 0.663);
    font-size: 50px;
    margin: 50px;
    font-weight: normal;
    letter-spacing: 2px;
}

img {
    width: 100%;
    display: block;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 3px dashed rgb(235, 128, 146);
    background-color: pink;
    color: rgb(81, 30, 39);
    font-family: "Cherry Bomb One", system-ui;
    transition: .5s;
    display: block;
    margin: auto;
    margin-top: 20px;
}

button:hover {
    /* cursor: ; */
    border: 3px dashed rgb(184, 82, 99);
}

#game {
    position: fixed;
    /* z-index: 6767676767676767676767676767676767676767; */
    top: 0;
    background-image: url('PLAYING\ SCREEN.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0%;
    /* So the tag doesn't see the cursor */
    pointer-events: none;
    transition: 0.7s;
}

#images img {

    width: 150px;
    height: 150px;
    display: inline-block;
    object-fit: contain; 
    background-color: rgb(253, 171, 184);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 100px;
    border: solid rgb(250, 138, 157);
    transition: 0.3s;
}

#images {
    width: 450px;
    /* we put 'font size 0' to not have any gaps between the images */
    font-size: 0;
    margin: auto;
}

#playButton {
    display: flex;
    position: absolute;
    top: 0;
    background-color: rgba(237, 110, 184, 0.436);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    flex-direction: column;
}

#triangleButton {
    width: 167px;
    transition: 0.2s;
    margin-bottom: 100px;
}

#images #cat1,
#images #cat4 {
    display: block;
    margin: auto;
}

#cat2 {
    margin-right: 150px;
}

h2 {
    display: flex;
    color: rgb(120, 31, 47);
    background-color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 50px;
}

h3 {
    color: white;
    font-size: 67px;
    font-weight: normal;
    text-shadow: 0 0 20px rgba(221, 15, 91, 0.579);
    opacity: 0;
    line-height: 100px;
}


 